.card .text-bg-dark {
    border-radius: 25px;
    background-color: #363535;
}

#iconPassword,
#iconRepeatPassword {
    cursor: pointer;
}

button {
    background-color: #1DB954;
}

img {
    border-radius: 20%;
}
.Cadastro {
    height: 100vh;
}