.Home{
    height: 100vh;
}

.bg_gradiant{
    background: rgb(4,5,4);
    background: linear-gradient(180deg, rgba(4,5,4,1) 0%, rgb(10, 45, 6) 50%, rgba(12,18,13,1) 100%); 
    height: 100vh;
}

.main_content{
    margin-top: 6%;
}